@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    --color-deep-blue: #0A3871;
    --color-light-blue: rgb(174, 210, 255);
    --primary-font: 'Krona One', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--secondary-font);
    background-color: #F3F5FC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav__h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    height: 2rem;

}
.main_principla{
    
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input__and__buttons{
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 16rem;
}
.div_buttons{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 1rem;  
}

.button__encode{
    font-family: var(--secondary-font);
    color: white;
    background-color: var(--color-deep-blue);
    border: 0.1rem solid var(--color-deep-blue);
    border-radius: 2rem;
    width: 13rem;
    height: 3rem;
    text-align: center;
    padding: 0.7rem;
    text-decoration: none;
}
.button__encode:hover{
    background-color: var(--color-light-blue);
    color: rgb(36, 33, 33);
    transition: 0.5s;
}
.button__decode{
    font-family: var(--secondary-font);
    color: var(--color-deep-blue);
    background-color: #F3F5FC;
    border: 0.1rem solid var(--color-deep-blue);
    border-radius: 2rem;
    width: 13rem;
    height: 3rem;
    text-align: center;
    padding: 0.7rem;
    text-decoration: none;
}
.button__decode:hover{
    background-color: var(--color-light-blue);
    color: rgb(36, 33, 33);
    transition: 0.5s;
}
.button__encode__decode:hover{
    background-color: var(--color-light-blue);
    color: rgb(36, 33, 33);
    transition: 0.5s;
}
.h3_field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 33rem;
    gap: 1rem;
    font-family: var(--secondary-font);
    border: none;
    border-radius: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    background-color: #FFFFFF;
    
    

}
#button__h3{
    
    height: 3rem;
    width: 13rem;
    border: 0.1rem solid var(--color-deep-blue);
    border-radius: 2rem;
    color:var(--color-deep-blue);
    background-color: white;
}
#button__h3:hover{
    background-color: var(--color-light-blue);
    color: rgb(36, 33, 33);
    transition: 0.5s;
}

.main_section{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}
.text__input{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 12rem;
    border: none;
    border-radius: 2rem;
    width: 30rem;
    text-align: center;
    color: var(--color-deep-blue);

    
}
#text__output{
    display: flex;
    flex: 1 1 20%;
    font-size: 2rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    width: 25rem;
    text-align: center;
    height: 30rem;
    color: rgb(39, 0, 93);
    background-color: white;

}

.footer__d{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    color: aquamarine;
}
.footer__text{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    border: 0.1rem solid #0A3871;
    border-radius: 1rem;
    width: 15rem;
    text-align: center;
    padding: 0.7rem;
    color: #0A3871;
    background-color: #F3F5FC; 
}
.footer__text:hover{
    background-color: var(--color-light-blue) ;
    color: rgb(36, 33, 33);
    transition: 0.5s;

}

#guy{
    padding-bottom: 5re;
    width: 15rem;
    height: 14rem;
}
#h4__text{
    height: 5rem;
    width: rem;
    padding: rem;
    font-family: var(--secondary-font);
    font-weight: 400;
}
#h3__text{
    height: 6rem;
    width: rem;
    padding: 2rem;
    font-family: var(--secondary-font);
    font-weight: 400;
}
